.header{
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100vw !important;
  z-index: 99;
}
.dropMenu {
  width: fit-content;
  background: rgba(255, 255, 255, 0.75);
  float: right;
  margin: 10px;
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  backdrop-filter: blur(16px) saturate(180%);
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 90px;

  button {
    &:hover {
      color: white;
      background-color: #000000;
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%)
    }
  }
}
.logo{
  height: 50px;
}
.vertical_line {
  height: 35px;
  width: 0;
  margin: 10px 0 10px 20px;
  background-color: #b5b5b5;
  border: 1px solid #b5b5b5;
}
.footer{
  margin-top: 200px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 100px 0 10px 0;
  width: 100%;
  p{font-family: fr , sans-serif}
  .social-media-icon {
    padding: 5px 10px;
    background-color: #5340FF;
    border-radius: 5px;
    margin-right: 5px;
  }
  .copyright {
    margin-top: 100px;
    p{
      font-family: fRegular, sans-serif;
    }
  }
  .footer_card {
    margin-top: -200px;
  }
  .footer_insta_card {
    margin-top: -200px;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: #F0EAE8;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    .follow{background-color: #F44336}
    img {height: 100%;width: 100%;border-radius: 10px;}
  }
}


.card {
  width: 200px;
  height: 180px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}


.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

